<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공간대여</title>
    <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=375195db5ac07f42a08c6c9f33e5f119"></script>
    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Directory HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/slicknav.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/flaticon.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/price_rangs.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome-all.min.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/themify-icons.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/slick.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/nice-select.css') }}">
            <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">

</head>
<body>

     <!-- Preloader Start -->
     <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
       <div class="header-area header-transparent">
            <div class="main-header">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                  <a href="/"><img src="assets/img/logo/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/space/list">공간시설</a></li>
                                            <li><a href="/edu/eduinfo">교육강좌</a></li>
                                            <li><a href="/culture/list">문화행사</a></li>
                                            <li><a href="/ph/phmain">체육시설</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Hero Start-->
        <div class="hero-area3 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <div class="hero-cap text-center pt-50 pb-20">
                            <h2>공간 시설 대여</h2>
                        </div>
                        <!--Hero form -->

                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--텍스트-->
     <div class="container">
        <div class="row">
            <h2 style="margin-top:5%; text-align:center;">상세 정보 </h2>

            <table style="padding-top:5%; color:black;" class="table table-bordered success">
                 {%for s in spaceList %}
                    <thead>
                        <tr>
                            <th><h6 style="color:black;">장소 명</h6></th>
                            <td> {{s.placenm}}</td>
                        </tr>
                        <tr>
                            <th class="info"><h6 style="color:black;">지역</h6></th>
                            <td>{{s.areanm}}</td>
                        </tr>
                        <tr>
                            <th class="info"><h6 style="color:black;">장소 종류</h6></th>
                            <td>{{s.minclassnm}}</td>
                        </tr>
                        <tr>
                            <th class="info"><h6 style="color:black;">접수 상태</h6></th>
                            <td>{{s.svcstatnm}}</td>
                        </tr>

                        <tr>
                            <th class="info"><h6 style="color:black;">접수 시작 일시</h6></th>
                            <td>{{s.rcptbgndt}}</td>
                        </tr>
                        <tr>
                            <th class="info"><h6 style="color:black;">접수 종료 일시</h6></th>
                            <td>{{s.rcptenddt}}</td>
                        </tr>
                        <tr >
                            <th class="info"><h6 style="color:black;">결제 방법</h6></th>
                            <td>{{s.payatnm}}</td>
                        </tr>
                        <tr>
                            <th valign="top" class="info"><h6 style="color:black;">서비스이용 시작시간</h6></th>
                            <td>{{s.v_min}}</td>
                        </tr>
                        <tr>
                            <th class="info"><h6 style="color:black;">서비스이용 종료시간</h6></th>
                            <td>{{s.v_max}}</td>
                        </tr>

                        <tr>
                            {% if s.svcstatnm == '접수중' %}
                                <th colspan="2">
                                    <a class="btn btn-success" style="color:white; text-align:center; margin-left:10%;" href="{{s.svcurl}}">예약하기</a>
                                </th>
                            {% else %}
                                <th colspan="2">
                                    <b style="text-align:center;  margin-left:10%;">접수 불가 (접수 시기는 변동될 수 있습니다.)</b>
                                </th>
                            {% endif %}
                        </tr>

                        </thead>
                    {% endfor %}
                </table>
        </div>

         <br><br>
         <div id="map" style="margin:0 auto; width:1200px;height:600px; padding-bottom:20%"></div>
         <br><br>
    </div>
     <!--지도 부분-->




    {%for c in spaceList%}
    <script>
    var positions = [];
    positions.push({
            content: '<div style="padding:5px;">{{c.placenm}}</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            latlng: new kakao.maps.LatLng({{c.y}}, {{c.x}})
    });
    </script>
    {%endfor%}

	    <script>
         for (var i = 0; i < positions.length; i++) {

         var mapContainer = document.getElementById('map'), // 지도를 표시할 div
		    mapOption = {
		        center:positions[i].latlng, // 지도의 중심좌표
		        level: 6, // 지도의 확대 레벨
		        mapTypeId : kakao.maps.MapTypeId.ROADMAP // 지도종류
		    };

            // 지도를 생성한다
            var map = new kakao.maps.Map(mapContainer, mapOption);
            // 지도 타입 변경 컨트롤을 생성한다
            var mapTypeControl = new kakao.maps.MapTypeControl();
            // 지도의 상단 우측에 지도 타입 변경 컨트롤을 추가한다
            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
            // 지도에 확대 축소 컨트롤을 생성한다
            var zoomControl = new kakao.maps.ZoomControl();
            // 지도의 우측에 확대 축소 컨트롤을 추가한다
            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng // 마커의 위치
            });

            // 마커에 표시할 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content // 인포윈도우에 표시할 내용
            });

            // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
            // 이벤트 리스너로는 클로저를 만들어 등록합니다
            // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
            kakao.maps.event.addListener(marker, 'click', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
        } //for문 끝

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
            return function() {
                infowindow.close();
            };
        }
        </script>

        <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{{url_for('static', filename='js/vendor/modernizr-3.5.0.min.js')}}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src=".{{url_for('static', filename='js/vendor/jquery-1.12.4.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{{url_for('static', filename='js/jquery.slicknav.min.js')}}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/slick.min.js')}}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{{url_for('static', filename='js/wow.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/price-range.js')}}"></script>
		<script src="{{url_for('static', filename='js/animated.headline.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.magnific-popup.js')}}"></script>

		<!-- Nice-select, sticky -->
        <script src="{{url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>

        <!-- contact js -->
        <script src="{{url_for('static', filename='js/contact.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.form.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.validate.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/mail-script.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.ajaxchimp.min.js')}}"></script>

		<!-- Jquery Plugins, main Jquery -->
        <script src="{{url_for('static', filename='js/plugins.js')}}">></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>